@import 'partials/variables';
@import 'partials/mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.primary-button {
    background: #4CAF4F;
    color: #fff;
}

.secondary-button {
    background: transparent;
    color: #4CAF4F;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color: #717171;
}

.care-desc {
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
}

.care-container {
    padding-top: 48px;
}

.care-image-container {
    position: relative;
    width: 368px;
}

.care-text {
    position: absolute;
    background: #F5F7FA;
    width: 80%;
    left: 10%;
    height: 135px;
    top: 68%;
    border-radius: 6px;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.care-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}


.clients-description{
    margin-top: 5px;
}

.clients-container{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .client-image-container{
        display: flex;
        justify-content: space-around;
        width: 1164px;
        margin-top: 25px;
    }
    .client-image-container div{
        padding: 3px;
    }
}




.community-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    align-items: center;

    .heading-comm{
        padding-left: 2em;
    }

    .community-description{
        margin-top: 7px;
    }
    
    .communities{
        display: flex;
        width: 1440px;
        justify-content: space-between;
        margin-top: 20px;

        .communities-desc{
            margin-top: 10px;
        }
    }
    
    .each-comm{
        border:2px solid #FFFFFF;
        border-radius: 8px;
        width: 299px;
        height: 280px;
        
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    
        align-items: center;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);

        .sub-each-comm{
            margin-bottom: 2px;
        }

        .sub-each-comm h3{
            padding-left: 5px;
        }
    
    
        .sub-each-comm-container{
            margin-top: 10px;
        }
    }
    
    .each-comm p{
        margin: 0;
    }
    
    .comm-title-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}




.local-business-container{
    display: flex;
    justify-content: space-around;

    margin-top: 48px;
    background-color: #F5F7FA;

    height: 288px;
    
    .local-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .local-left-heading{
            color: #4CAF4F;
        }

        .local-left-p{
            margin-top: 8px;
        }
    }
    
    .local-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    .row1, .row2{
        display: flex;
        gap: 30px;
    }
    
    .row2{
        padding-left: 40px;
    }
    
    
    
    .each-member{
        display: flex;
        gap: 15px;
    }
}


.pixelgrade{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;

    .pixelgrade-desc{
        margin-top: 16px;
    }
    .pixelgrade-button{
        width: 151;
        height: 52;
        opacity: 1;
        gap: 10px;
        padding-top: 14px;
        padding-right: 32px;
        padding-bottom: 14px;
        padding-left: 32px;
        border-radius: 4px;
        background: #4CAF4F;
        color: white;
    
        margin-top: 32px;
    
    }
    
    .pixelgrade-content{
        width: 661px;
    }
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 300px;
    background-color: #F5F7FA;

    .footer-up-h1-second{
        padding-left: 40px;
    }
}

.footer-button{
    margin-top: 32px;

    width: 178px;
    height: 52px;
    opacity: 1;
    gap: 8px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    border-radius: 4px;

    background: #4CAF4F;
    color: white;
    
}

.footer-down{
    display: flex;
    justify-content: space-around;
     background-color: #263238;
    color: #D9DBE1;
    height: 328px;
    width: 100vw;
    align-items: center;
    
    .footer-left-1{
        display: flex;
        margin-bottom: 20px;
        gap: 10px;
    }
    
    .footer-left-3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
}



.footer-right{
    display: flex;
    gap: 30px;
    
    .footer-headings{
        margin-bottom: 24px
    }
    
    .footer-external-links{
        display: flex;
        flex-direction: column;
        gap:12px;
    }
}



.input-email{
    display: flex;
    gap: 20px;

    border-radius: 8px;
    align-items: center;

    background-color: #717171;
}
.input-email input{
    background-color: #717171;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.input-email img{
    padding-right: 8px;
}